<!-- Content Wrapper. Contains page content -->
<div id="inner-container">
    <div class="row">
        <div class="col-md-3" >
            <div class="box-header with-border">
                <i class="fa fa-fw fa-user"></i> <h3 class="box-title"> {{'ADMIN.USER.USER'|translate}}</h3>
                <div class="box-tools pull-right">
                    <i class="fa fa-fw fa-user-plus toolbar-icon" ng-click="newUser()" title="{{'COMMON.NEW'|translate}}"></i>&nbsp;&nbsp;
                    <i class="fa fa-edit toolbar-icon" ng-click="editUser(selectUser[0])" title="{{'COMMON.EDIT'|translate}}"></i>&nbsp;&nbsp;
                    <i class="fa fa-trash-o toolbar-icon"  ng-click="deleteUser()" title="{{'COMMON.DELETE'|translate}}"></i>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">{{'CONFIG.WIDGET.FIND'|translate}}</span>
                        <input type="text" class="form-control" ng-model="userKeyword">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" >
                    <select multiple class="form-control" ng-model="selectUser" ng-change="changeRoleSelect()"
                            ng-options="u.loginName+'('+u.userName+')' for u in userList | filter:{loginName:userKeyword}" 
                            style="height: 500px; overflow: auto;">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box-header with-border">
                <i class="fa fa-fw fa-group"></i> <h3 class="box-title"> {{'ADMIN.ROLE.ROLE'|translate}}</h3>
                <div class="box-tools pull-right">
                    <i class="glyphicon glyphicon-plus toolbar-icon" ng-click="newRole()" title="{{'COMMON.NEW'|translate}}"></i>&nbsp;&nbsp;
                    <i class="fa fa-edit toolbar-icon" ng-click="editRole(selectRole[0])" title="{{'COMMON.EDIT'|translate}}"></i>&nbsp;&nbsp;
                    <i class="fa fa-trash-o toolbar-icon"  ng-click="deleteRole()" title="{{'COMMON.DELETE'|translate}}"></i>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">{{'CONFIG.WIDGET.FIND'|translate}}</span>
                        <input type="text" class="form-control" ng-model="roleKeyword">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <select multiple class="form-control" ng-model="selectRole"
                            ng-options="u.roleName for u in roleList | filter:{roleName:roleKeyword}"
                            style="height: 500px; overflow: auto;">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10" style="padding-right: 0px; padding-top: 5px">
                            <button type="submit" ng-click="grant()"
                                    class="btn btn-success pull-right"
                                    >
                                Grant
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box" ng-show="optFlag == 'newUser' || optFlag == 'editUser'">
                <div class="box-header with-border">
                    <h3 class="box-title">{{'ADMIN.USER.USER'|translate}}</h3>
                </div>
                <div class="box-body">
                    <form>
                        <div class="form-group">
                            <label>{{'ADMIN.USER.LOGIN_NAME'|translate}}</label>
                            <input ng-model="curUser.loginName" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>{{'ADMIN.USER.NAME'|translate}}</label>
                            <input ng-model="curUser.userName" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>{{'ADMIN.USER.PASSWORD'|translate}}</label>
                            <input ng-model="curUser.userPassword" class="form-control" type="password"/>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" ng-click="saveUser()" class="btn btn-success pull-right"
                            style="margin-right: 5px">{{'COMMON.SAVE'|translate}}
                    </button>
                </div>
                <!-- /.box-footer-->
            </div>

            <div class="box" ng-show="optFlag == 'newRole' || optFlag == 'editRole'">
                <div class="box-header with-border">
                    <h3 class="box-title">{{'ADMIN.ROLE.ROLE'|translate}}</h3>
                </div>
                <div class="box-body">
                    <form>
                        <div class="form-group">
                            <label>{{'ADMIN.ROLE.ROLE_NAME'|translate}}</label>
                            <input ng-model="curRole.roleName" class="form-control"/>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" ng-click="saveRole()" class="btn btn-success pull-right"
                            style="margin-right: 5px">{{'COMMON.SAVE'|translate}}
                    </button>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>
    </div>
</div>

</div>
