<div id="inner-container" class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-users"></i> <h3 class="box-title">{{'ADMIN.USER.USER'|translate}}</h3>
                    
                    <div class="box-tools pull-right">
                        <span ng-click="newUser()" style="font-size:13px; cursor: pointer; color:#27aad5;font-weight: 700;">&nbsp;New 
					 		<span><i class="fa fa-plus" style="font-weight: 700;"></i></span>
					 	</span>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="row">
                    <div class="col-md-12 col-sm-12" style="padding: 10px;">
							<div class="col-md-4 col-sm-4">
								<input type="text" style="width: 75%; float: left; border-radius: 6px;"
									ng-model="search"
									class="form-control table-search-input-elemint"
									placeholder="Search">
							</div>
							<div class="col-md-7 col-sm-7" style="">
								<div class="row" style="margin-top: -21px; float: right;">
									<ul ng-if="pager.pages.length" class="pagination"
										style="margin-right: 15px;">
										<li ng-class="{disabled:pager.currentPage === 1}"><a
											ng-click="setPageForUser(1)" href="">First</a></li>
										<li ng-class="{disabled:pager.currentPage === 1}"><a
											href="" ng-click="setPageForUser(pager.currentPage - 1)">Previous</a>
										</li>
										<li ng-repeat="page in pager.pages"
											ng-class="{active:pager.currentPage === page}"><a
											href="" ng-click="setPageForUser(page)">{{page}}</a></li>
										<li
											ng-class="{disabled:pager.currentPage === pager.totalPages}">
											<a href="" ng-click="setPageForUser(pager.currentPage + 1)">Next</a>
										</li>
										<li
											ng-class="{disabled:pager.currentPage === pager.totalPages}">
											<a href="" ng-click="setPageForUser(pager.totalPages)">Last</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-1 col-sm-1" style="float: right;">
								<div style="float: right;">
									<select data-ng-model="pageSize"
										style="border-radius: 4px; height: 30px; box-shadow: none; border: 1px solid #ccc;"
										ng-options="pageSize as pageSize for pageSize in pageSizeArr"
										ng-change="changePageSizeForUser()">
									</select>
								</div>
							</div>
						</div>
                        <div class="col-md-12">
                        <table class="table table-hover" style="margin-bottom:0px !important">
								<thead>
									<tr>
										<th><a> {{'ADMIN.USER.LOGIN_NAME'|translate}} </a></th>
										<th><a> {{'ADMIN.USER.NAME'|translate}} </a></th>
										<th><a> {{'ADMIN.ROLE.ROLE_NAME'|translate}} </a></th>
										<th><a style="float: right;"> {{'COMMON.ACTION'|translate}} </a></th>
									</tr>
								</thead>
								<tbody ng-repeat="u in finalUserList | filter:search">
									<tr>
										<td style="padding: 4px!important; ">
											<div class="user-name">
												<div class="icon" style="background-color: {{colorArray[($index % 14)]}}">
												{{u.loginName.charAt(0). toUpperCase() +u.loginName.split(' ')[1].charAt(0).toUpperCase() }}
												</div>
												<span class="name">{{u.loginName}}</span>
											</div>
										</td>
										<td>{{u.userName}}</td>
										<td>
											<div ng-repeat="userRole in userRoleList" ng-if="u.userId == userRole.userId">
												<div ng-repeat="role in roleList" ng-if="userRole.roleId == role.roleId">
													<p>{{role.roleName}}</p>
												</div>
											</div>
										</td>
										<td>
										<span class="pull-right text-red dropdown user user-menu"> 
												<a href="" class="dropdown-toggle action-icon-size" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                                <ul class="dropdown-menu box profile action-box-dropdown">
                                                    <li><div class="up-arrow action-uparrow"></div></li>
                                                    <li class="border-top">
                                                        <a href="" ng-click="getRoleForParticularUser(u);editUser(u);" title="{{'COMMON.EDIT'|translate}}"><i class="fa fa-edit"></i>{{'COMMON.EDIT'|translate}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="" ng-click="deleteUser(u)" title="{{'COMMON.DELETE'|translate}}"><i class="fa fa-trash-o"></i>{{'COMMON.DELETE'|translate}}</a>
                                                    </li> 
                                                </ul>
											</span>
										</td>
									</tr>
								</tbody>
								<tr ng-if= "!finalUserList.length">
									<td><h2 style="text-align: right;">No Data Available</h2></td>
								</tr>
							</table>
                        </div>
                    </div>
                  </div>
              </div>
        </div>
     </div>
</div>



