<form class="form-horizontal">
    <div class="row">
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label">Interval</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="curWidget.config.option.ctgLabelInterval">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label">Rotate</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="curWidget.config.option.ctgLabelRotate">
            </div>
        </div>
    </div>
</form>