<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">{{"COMMON.TIP"|translate}} :</h4>
</div>
<div class="modal-body">
    <p>{{content}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" ng-click="close()">
        {{"COMMON.CANCEL"|translate}}
    </button>
    <button type="button" class="btn btn-outline" ng-click="ok()">
        {{"COMMON.OK"|translate}}
    </button>
</div>