<div class="modal-header"style="height:60px;margin-top:10px;border-bottom: 1px solid #e5e5e5;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">×</span></button>
    <lable class="modal-title" style="font-family:inherit;font-size:20px;">Confirmation</lable>
</div>
<div class="modal-body">
    <p>{{content}}?</p>
    <p>This cannot be undone,
	   If you are sure, please type <b>DELETE</b> in this box :</p>
	 <center><input type="text" class="form-control ng-pristine ng-valid" id="deleteConfirmation" style="width:200px;" ng-model="deleteText" ng-model-onblur ng-change="confirmDeleteText()"></center>
</div>
<div class="modal-footer"style="border-top: 1px solid #e5e5e5;">
    <button type="button" class="btn  btn-close  btn-cancel pull-right ng-binding" data-dismiss="modal" ng-click="close()">
    {{"COMMON.CANCEL"|translate}}
    </button>
    <button type="button" class="btn btn-primary btn-save pull-right ng-binding" ng-click="ok()"ng-disabled="deleteConfirmationbtn" style="margin-right: 0px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;">
    {{"COMMON.OK"|translate}}
    </button>
</div>