<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">表达式</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">字段</label>
                <div class="col-sm-10">
                    <div class="form-control"
                         style="min-height: 35px;height: auto;padding: 0px">
                <span ng-repeat="o in selects"
                      class="btn btn-default btn-sm" style="margin: 3px 3px;"
                      ng-click="addToken(o)">{{o}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">聚合</label>
                <div class="col-sm-10">
                    <div class="form-control"
                         style="min-height: 35px;height: auto;padding: 0px">
                <span ng-repeat="o in aggregate"
                      class="btn btn-default btn-sm" style="margin: 3px 3px;"
                      ng-click="addToken(o.value+'()',true)">{{o.value}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">表达式</label>
                <div class="col-sm-10">
                    <textarea ng-model="expression" id="expression_area" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group" ng-repeat="alert in alerts">
                <div class="col-sm-offset-2 col-sm-10">
                    <div uib-alert ng-class="'alert-' + (alert.type || 'warning')"
                         close="alerts.splice($index, 1)">{{alert.msg}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">别名</label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model="alias">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="close()">取消</button>
    <button type="button" class="btn btn-primary" ng-click="verify()">校验表达式</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">确定</button>
</div>