<label class="col-sm-2 control-label">
    {{'CONFIG.COMMON.CUSTOM_EXPRESSION'|translate}}
</label>
<div class="col-sm-10">
    <div class="input-group">
        <div class="form-control" style="min-height: 38px;height: auto;padding: 0px">
            <div ng-repeat="o in curWidget.expressions" dnd-draggable="o" dnd-type="'exp'"
                 dnd-effect-allowed="move"
                 dnd-moved="expressions.splice($index, 1)" class="btn-group"
                 style="margin: 3px 3px;">
                <button type="button" class="btn btn-primary btn-sm" style="cursor: move;">
                    {{o.alias}}
                </button>
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" ng-click="editExp(o)" ng-if="!isDsExpression(o)">
                    <span class="fa fa-edit"></span>
                </button>
            </div>
        </div>
        <div class="input-group-btn">
            <button type="button" class="btn btn-info" ng-click="editExp()" style="min-height: 38px;">{{'CONFIG.WIDGET.ADD'|translate}}</button>
        </div>
    </div>
</div>