<label class="col-sm-2 control-label">{{'CONFIG.WIDGET.OPTIONAL'|translate}}</label>
<div class="col-sm-10">
    <div dnd-list="curWidget.config.selects"
         dnd-inserted="dndTransfer.toSelect(curWidget.config.selects,index,item,type)"
         dnd-allowed-types="['select','col','group','key','filter']"
         class="form-control"
         style="min-height: 35px;height: auto;padding: 0px">
        <div class="dndPlaceholder sort-highlight"
             style="height: 24px; width: 93px;margin: 3px 3px;display: inline-block;vertical-align: middle;">
        </div>
                <span ng-repeat="o in curWidget.config.selects track by o" dnd-draggable="o"
                      dnd-effect-allowed="move"
                      dnd-moved="curWidget.config.selects.splice($index, 1)"
                      dnd-type="'select'"
                      class="btn btn-default btn-sm"
                      style="cursor: move;margin: 3px 3px;">{{o}}</span>
    </div>
</div>