<div class="col-xs-3 col-md-2">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->
        <li class="active"><a href="#ext" data-toggle="tab">Ext</a></li>
    </ul>
</div>
<div class="col-xs-9 col-md-10">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="ext">
            <form class="form-horizontal">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'CONFIG.WIDGET.LABEL'|translate}}</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="curWidget.config.values[0].name" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'CONFIG.WIDGET.FORMATTER'|translate}}</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="curWidget.config.values[0].format" class="form-control"/>
                            <span class="help-block">{{'CONFIG.WIDGET.EXAMPLE'|translate}}：'0,0.00' '0.00' '0%' '0.00%' ,<a
                                    href="http://numbrojs.com/format.html"
                                    target="_blank">{{'CONFIG.WIDGET.MORE'|translate}}</a> </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'CONFIG.WIDGET.STYLE'|translate}}</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="curWidget.config.values[0].style"
                                    ng-options="s.value as s.name for s in kpi_styles"></select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


