<div ng-include="'org/cboard/view/config/chart/template/config.html'"></div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{'CONFIG.WIDGET.VALUE'|translate}}</label>
    <div class="col-sm-10">
        <div dnd-list="curWidget.config.values[0].cols"
             dnd-inserted="dndTransfer.toCol(curWidget.config.values[0].cols,index,item,type)"
             dnd-allowed-types="['measure','select','col','exp']"
             ng-class="{highlight: targetHighlight.value}"
             class="form-control" style="min-height: 35px;height: auto;padding: 0px">
            <div class="dndPlaceholder sort-highlight"
                 style="height: 24px; width: 93px;margin: 3px 3px;display: inline-block;vertical-align: middle;">
            </div>
            <div ng-repeat="o in curWidget.config.values[0].cols" class="btn-group"
                 style="margin: 3px 3px;">
                <ng-switch on="o.type">
                    <div ng-switch-when="exp" class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm" style="cursor: move;"
                                dnd-draggable="o" dnd-type="'exp'"
                                dnd-effect-allowed="move"
                                dnd-moved="curWidget.config.values[0].cols.splice($index, 1)"
                                ng-click="curWidget.config.values[0].cols.splice($index, 1);">
                            {{o.alias}}
                        </button>
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                ng-click="editSort(o);cleanRowSort(o);">
                            <span class="fa" ng-class="{undefined:'fa-sort','asc':'fa-sort-asc','desc':'fa-sort-desc'}[o.sort]"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                ng-click="editAlign(o)">
                            <span class="fa" ng-class="{undefined:'fa-align-center','left':'fa-align-left','right':'fa-align-right'}[o.align]"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-edit"></span>
                        </button>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li>
                                <input type="text" class="input" ng-model="o.formatter"
                                       placeholder="{{'CONFIG.WIDGET.FORMATTER'|translate}}">
                            </li>
                            <li ng-if="!isDsExpression(o)">
                                <a ng-click="editExp(o)">{{'COMMON.EDIT'|translate}}</a>
                            </li>
                            <li>
                                <a ng-click="editVFilter(o)">{{'CONFIG.WIDGET.FILTER'|translate}}</a>
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-default class="btn-group">
                        <button type="button"
                                dnd-draggable="o" dnd-type="'col'"
                                dnd-effect-allowed="move"
                                dnd-moved="curWidget.config.values[0].cols.splice($index, 1)"
                                ng-click="curWidget.config.values[0].cols.splice($index, 1);"
                                class="btn btn-default btn-sm" style="cursor: move;">
                            {{o.aggregate_type+'('+o.col+')'+ (o.alias?(' -> '+o.alias):'')}}
                        </button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                ng-click="editSort(o);cleanRowSort(o);">
                            <span class="fa" ng-class="{undefined:'fa-sort','asc':'fa-sort-asc','desc':'fa-sort-desc'}[o.sort]"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                ng-click="editAlign(o)">
                            <span class="fa" ng-class="{undefined:'fa-align-center','left':'fa-align-left','right':'fa-align-right'}[o.align]"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="fa fa-edit"></span>
                        </button>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li>
                                <input type="text" class="input" ng-model="o.alias"
                                       placeholder="{{'CONFIG.WIDGET.ALIAS'|translate}}">
                            </li>
                            <li>
                                <input type="text" class="input" ng-model="o.formatter"
                                       placeholder="{{'CONFIG.WIDGET.FORMATTER'|translate}}">
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1">{{'CONFIG.WIDGET.AGGREGATE_TYPE'|translate}}</a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="a in value_aggregate_types">
                                        <a ng-click="o.aggregate_type=a.value">{{a.name+'('+o.col+')'}}</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a ng-click="editVFilter(o)">{{'CONFIG.WIDGET.FILTER'|translate}}</a>
                            </li>
                        </ul>
                    </div>
                </ng-switch>
            </div>
        </div>
    </div>
</div>
