<!-- Content Wrapper. Contains page content -->
<div id="inner-container" class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-database"></i> <h3 class="box-title"> {{'CONFIG.DATA_SOURCE.DATA_SOURCE_HEADER'|translate}}</h3>
                    <div class="box-tools pull-right">
                        <i class="fa fa-plus toolbar-icon" ng-click="newDs()" title="{{'COMMON.NEW'|translate}}"></i>&nbsp;&nbsp;
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-repeat="o in datasourceList">
                                    <a>
                                        {{o.name}}
                                        <span class="pull-right text-red">
                                            <i class="fa fa-info" style="cursor: pointer" ng-click="showInfo(o)" title="{{'COMMON.INFORMATION'|translate}}"></i>&nbsp;
                                            <i class="fa fa-copy" style="cursor: pointer" ng-click="copyDs(o)" title="{{'COMMON.COPY'|translate}}"></i>&nbsp;
                                            <i class="fa fa-edit" style="cursor: pointer" ng-click="editDs(o)" title="{{'COMMON.EDIT'|translate}}"></i>&nbsp;
                                            <i class="fa fa-trash-o" style="cursor: pointer" ng-click="deleteDs(o)" title="{{'COMMON.DELETE'|translate}}"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </form>
                    <!-- /.box-body -->
                    <div class="box-footer">
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box" ng-show="optFlag == 'new' || optFlag == 'edit'">
                <div class="box-header with-border">
                    <h3 class="box-title">{{curDatasource.name}}</h3>
                </div>
                <div class="box-body">
                    <div ng-show="optFlag == 'new'"
                         ng-include="'org/cboard/view/config/datasource/new.html'"></div>
                    <div ng-show="optFlag == 'edit'"
                         ng-include="'org/cboard/view/config/datasource/edit.html'"></div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                </div>
                <!-- /.box-footer-->
            </div>
        </div>
    </div>
</div>

</div>
