<div id="inner-container" class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-share-alt"></i>
					<h3 class="box-title">{{'SIDEBAR.SHARE_RESOURCE'|translate}}</h3>
				</div>
				<div class="box-body no-padding">
					<div class="row">

						<div class="col-md-12">
							<div class="nav-tabs-custom" style="margin-bottom: 0;">
								<ul class="nav nav-tabs">
									<li class="active" style="width: 32%;"><a
										ng-click="tab='board'" data-toggle="tab" aria-expanded="false"
										style="font-size: 20px;">{{'SIDEBAR.DASHBOARD'|translate}}</a></li>
									<li class="" style="width: 33%;"><a
										ng-click="tab='dataset'" data-toggle="tab"
										aria-expanded="false" style="font-size: 20px;">{{'SIDEBAR.DATASET'|translate}}</a></li>
									<li class="" style="width: 33%;"><a
										ng-click="tab='widget'" data-toggle="tab"
										aria-expanded="false" style="font-size: 20px;">{{'ADMIN.WIDGET'|translate}}</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane" ng-class="{'board': 'active'}[tab]">
										<div class="col-md-12 col-sm-12"
											style="padding: 0px; padding-top: 40px;">
											<div class="col-md-4 col-sm-4">
												<input type="text"
													style="width: 75%; float: left; border-radius: 6px;"
													ng-model="searchForDashBoard"
													class="form-control table-search-input-elemint"
													placeholder="Search">
											</div>
											<div class="col-md-7 col-sm-7" style="">
												<div class="row" style="margin-top: -21px; float: right;">
													<ul ng-if="dashBoardPager.pages.length" class="pagination"
														style="margin-right: 15px;">
														<li ng-class="{disabled:dashBoardPager.currentPage === 1}"><a
															ng-click="setPageForDashboard(1)" href="">First</a></li>
														<li ng-class="{disabled:dashBoardPager.currentPage === 1}"><a
															href=""
															ng-click="setPageForDashboard(dashBoardPager.currentPage - 1)">Previous</a>
														</li>
														<li ng-repeat="page in dashBoardPager.pages"
															ng-class="{active:dashBoardPager.currentPage === page}"><a
															href="" ng-click="setPageForDashboard(page)">{{page}}</a></li>
														<li
															ng-class="{disabled:dashBoardPager.currentPage === dashBoardPager.totalPages}">
															<a href=""
															ng-click="setPageForDashboard(dashBoardPager.currentPage + 1)">Next</a>
														</li>
														<li
															ng-class="{disabled:dashBoardPager.currentPage === dashBoardPager.totalPages}">
															<a href=""
															ng-click="setPageForDashboard(dashBoardPager.totalPages)">Last</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-md-1 col-sm-1" style="float: right;">
												<div style="float: right;">
													<select data-ng-model="pageSizeForDashBoard"
														style="border-radius: 4px; height: 30px; box-shadow: none; border: 1px solid #ccc;"
														ng-options="pageSizeForDashBoard as pageSizeForDashBoard for pageSizeForDashBoard in pageSizeArr"
														ng-change="changePageSizeForDashboard()">
													</select>
												</div>
											</div>
										</div>

										<form>
											<div class="form-group">
												<table class="table table-hover"
													style="margin-bottom: 0px !important">
													<thead>
														<tr>
															<th><a> {{'CONFIG.DASHBOARD.NAME'|translate}} </a></th>
															<th><a style="float: right;"> {{'COMMON.ACTION'|translate}} </a></th>
														</tr>
													</thead>
													<tbody
														ng-repeat="dash in finalDashboardList | filter:searchForDashBoard">
														<tr>
															<td style="padding: 4px !important;">
																<div class="user-name">
																	<div class="icon"
																		style="background-color: {{colorArray[($index% 14)]}}">
																		{{dash.name.charAt(0). toUpperCase()
																		+dash.name.split(' ')[1].charAt(0).toUpperCase() }}</div>
																	<span class="name">{{dash.name}}</span>
																</div>
															</td>
															<td>
																<span class="pull-right text-red dropdown user user-menu"> 
																	<a href="" class="dropdown-toggle action-icon-size" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
					                                                <ul class="dropdown-menu box profile action-box-dropdown">
					                                                    <li><div class="up-arrow action-uparrow"></div></li>
					                                                    <li class="border-top">
					                                                        <a href="" ng-click="openModalForRoleList(dash,'board');" title="{{'COMMON.RESOURCE'|translate}}"><i class="fa fa-user"></i>{{'COMMON.RESOURCE'|translate}}</a>
					                                                    </li>
					                                                </ul>
																</span>
														</tr>
													</tbody>
												</table>
											</div>
										</form>
									</div>
									<div class="tab-pane" ng-class="{'dataset': 'active'}[tab]">

										<div class="col-md-12 col-sm-12"
											style="padding: 0px; padding-top: 40px;">
											<div class="col-md-4 col-sm-4">
												<input type="text"
													style="width: 75%; float: left; border-radius: 6px;"
													ng-model="searchForDataSet"
													class="form-control table-search-input-elemint"
													placeholder="Search">
											</div>
											<div class="col-md-7 col-sm-7" style="">
												<div class="row" style="margin-top: -21px; float: right;">
													<ul ng-if="datasetPager.pages.length" class="pagination"
														style="margin-right: 15px;">
														<li ng-class="{disabled:datasetPager.currentPage === 1}"><a
															ng-click="setPageForDataset(1)" href="">First</a></li>
														<li ng-class="{disabled:datasetPager.currentPage === 1}"><a
															href=""
															ng-click="setPageForDataset(datasetPager.currentPage - 1)">Previous</a>
														</li>
														<li ng-repeat="page in datasetPager.pages"
															ng-class="{active:datasetPager.currentPage === page}"><a
															href="" ng-click="setPageForDataset(page)">{{page}}</a></li>
														<li
															ng-class="{disabled:datasetPager.currentPage === datasetPager.totalPages}">
															<a href=""
															ng-click="setPageForDataset(datasetPager.currentPage + 1)">Next</a>
														</li>
														<li
															ng-class="{disabled:datasetPager.currentPage === datasetPager.totalPages}">
															<a href=""
															ng-click="setPageForDataset(datasetPager.totalPages)">Last</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-md-1 col-sm-1" style="float: right;">
												<div style="float: right;">
													<select data-ng-model="pageSizeForDataset"
														style="border-radius: 4px; height: 30px; box-shadow: none; border: 1px solid #ccc;"
														ng-options="pageSizeForDataset as pageSizeForDataset for pageSizeForDataset in pageSizeArr"
														ng-change="changePageSizeForDataset()">
													</select>
												</div>
											</div>
										</div>

										<form>
											<div class="form-group">
												<table class="table table-hover"
													style="margin-bottom: 0px !important">
													<thead>
														<tr>
															<th><a> {{'CONFIG.DATASET.NAME'|translate}} </a></th>
															<th><a style="float: right;"> {{'COMMON.ACTION'|translate}} </a></th>
														</tr>
													</thead>
													<tbody
														ng-repeat="data in finalDatasetList | filter:searchForDataSet">
														<tr>
															<td style="padding: 4px !important;">
																<div class="user-name">
																	<div class="icon"
																		style="background-color: {{colorArray[($index% 14)]}}">
																		{{data.name.charAt(0). toUpperCase()
																		+data.name.split(' ')[1].charAt(0).toUpperCase() }}</div>
																	<span class="name">{{data.name}}</span>
																</div>
															</td>
															<td>
																<span class="pull-right text-red dropdown user user-menu"> 
																	<a href="" class="dropdown-toggle action-icon-size" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
					                                                <ul class="dropdown-menu box profile action-box-dropdown">
					                                                    <li><div class="up-arrow action-uparrow"></div></li>
					                                                    <li class="border-top">
					                                                        <a href="" ng-click="openModalForRoleList(data,'dataset');" title="{{'COMMON.RESOURCE'|translate}}"><i class="fa fa-user"></i>{{'COMMON.RESOURCE'|translate}}</a>
					                                                    </li>
					                                                </ul>
																</span>
														</tr>
													</tbody>
												</table>
											</div>
										</form>
									</div>

									<div class="tab-pane" ng-class="{'widget': 'active'}[tab]">
										<div class="col-md-12 col-sm-12"
											style="padding: 0px; padding-top: 40px;">
											<div class="col-md-4 col-sm-4">
												<input type="text"
													style="width: 75%; float: left; border-radius: 6px;"
													ng-model="searchForWidget"
													class="form-control table-search-input-elemint"
													placeholder="Search">
											</div>
											<div class="col-md-7 col-sm-7" style="">
												<div class="row" style="margin-top: -21px; float: right;">
													<ul ng-if="widgetPager.pages.length" class="pagination"
														style="margin-right: 15px;">
														<li ng-class="{disabled:widgetPager.currentPage === 1}"><a
															ng-click="setPageForWidget(1)" href="">First</a></li>
														<li ng-class="{disabled:widgetPager.currentPage === 1}"><a
															href=""
															ng-click="setPageForWidget(widgetPager.currentPage - 1)">Previous</a>
														</li>
														<li ng-repeat="page in widgetPager.pages"
															ng-class="{active:widgetPager.currentPage === page}"><a
															href="" ng-click="setPageForWidget(page)">{{page}}</a></li>
														<li
															ng-class="{disabled:widgetPager.currentPage === widgetPager.totalPages}">
															<a href=""
															ng-click="setPageForWidget(widgetPager.currentPage + 1)">Next</a>
														</li>
														<li
															ng-class="{disabled:widgetPager.currentPage === widgetPager.totalPages}">
															<a href=""
															ng-click="setPageForWidget(widgetPager.totalPages)">Last</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-md-1 col-sm-1" style="float: right;">
												<div style="float: right;">
													<select data-ng-model="pageSizeForWidget"
														style="border-radius: 4px; height: 30px; box-shadow: none; border: 1px solid #ccc;"
														ng-options="pageSizeForWidget as pageSizeForWidget for pageSizeForWidget in pageSizeArr"
														ng-change="changePageSizeForWidget()">
													</select>
												</div>
											</div>
										</div>

										<form>
											<div class="form-group">
												<table class="table table-hover"
													style="margin-bottom: 0px !important">
													<thead>
														<tr>
															<th><a> {{'CONFIG.WIDGET.NAME'|translate}} </a></th>
															<th><a style="float: right;"> {{'COMMON.ACTION'|translate}} </a></th>
														</tr>
													</thead>
													<tbody
														ng-repeat="widget in finalWidgetList | filter:searchForWidget">
														<tr>
															<td style="padding: 4px !important;">
																<div class="user-name">
																	<div class="icon"
																		style="background-color: {{colorArray[($index% 14)]}}">
																		{{widget.name.charAt(0). toUpperCase()
																		+widget.name.split(' ')[1].charAt(0).toUpperCase() }}
																	</div>
																	<span class="name">{{widget.name}}</span>
																</div>
															</td>
															<td>
																<span class="pull-right text-red dropdown user user-menu"> 
																	<a href="" class="dropdown-toggle action-icon-size" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
					                                                <ul class="dropdown-menu box profile action-box-dropdown">
					                                                    <li><div class="up-arrow action-uparrow"></div></li>
					                                                    <li class="border-top">
					                                                        <a href="" ng-click="openModalForRoleList(widget,'widget');" title="{{'COMMON.RESOURCE'|translate}}"><i class="fa fa-user"></i>{{'COMMON.RESOURCE'|translate}}</a>
					                                                    </li>
					                                                </ul>
																</span>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



