<section class="content-header">
    <h1>
        <div ng-show="loading"><i class="fa fa-spinner fa-spin"></i> {{"COMMON.LOADING" | translate}}</div>
        {{board.name}}
    </h1>
    <div class="breadcrumb" style="cursor: pointer" >
        <div style="display: inline-block" ng-show="board.layout.containsParam" >
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i> {{"COMMON.PARAM" | translate}}
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu" style="position: relative">
                <li>
                    <a>
                        <div class="input-group input-group-sm" style="width: 257px">
                            <input class="form-control" placeholder='{{"COMMON.SAVE_AS" | translate}}' style="min-width: 120px"
                                   ng-model="newBoardParamName">
                            <span class="input-group-btn">
                               <button type="button" class="btn btn-success" ng-click="newBoardParam(newBoardParamName);newBoardParamName='';">
                                   <i class="fa fa-save"></i>
                               </button>
                            </span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="p in boardParams">
                    <a ng-click="applyBoardParam(p.params)">{{p.name}} &nbsp;<span class="pull-right" ng-click="deleteBoardParam($index);"><i class="fa fa-trash-o"></i></span></a>
                </li>
            </ul>
        </div>
        <div style="display: inline-block" ng-click="load(true)">
            <button class="btn btn-primary btn-sm">
                <span><i class="fa fa-refresh"></i>&nbsp;{{"COMMON.REFRESH" | translate}}</span>
            </button>
        </div>
        <div style="display: inline-block" ng-click="export(true)">
            <button class="btn btn-primary btn-sm">
                <span ng-show="!exportStatus"><i class="fa fa-download" ></i>&nbsp;{{"COMMON.EXPORT" | translate}}</span>
                <span ng-show="exportStatus"><i class="fa fa-spinner fa-spin"></i> Loading</span>
            </button>
        </div>
        <div style="display: inline-block" ng-click="editBoard()" ng-show="isShowMenu('config.board')">
            <button class="btn btn-primary btn-sm">
                <span><i class="fa fa-edit"></i>&nbsp;{{"COMMON.EDIT" | translate}}</span>
            </button>
        </div>
    </div>
</section>