<div id="app" ng-controller="interactLayoutCtrl">
    <div class="gf-fit-box" style="padding: 0px;">
        <div class="interact-row interact-col">
            <div id="interact-drag" class="interact-canvas"
                 v-bind:style=" {width:viewDragWidth,height:viewDragHeight,background:(interactConf.background?'url(imgs/interact/' + interactConf.background + ') repeat':'')} ">
                <div class="interact-block" v-for="dataChart in viewDataCharts" :id="dataChart.domId"
                     :type="dataChart.chartType"
                     v-bind:style=" {width:dataChart.chartData.chartWidth + 'px', height:dataChart.chartData.chartHeight + 'px', transform:'translate(' + dataChart.chartData.positionX + 'px,' + dataChart.chartData.positionY + 'px)'} ">
                    <component v-bind:is="dataChart.componentName" v-bind:chartData="dataChart.chartData"></component>
                </div>
            </div>
        </div>
    </div>
</div>
